# Node dependencies
node_modules/

# Local configurations / API keys
js/config.js
.env
.env.local
.env.*.local

# IDEs & System Files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
dist/
build/
